<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand page-scroll" href="#page-top">
      <i class="fa fa-truck"></i>  <span class="light"> <b>GO !</b> Deliver </span>
    </a>
  </div>
  <div class="section" id="sideTabs">
    <tabset id="menu" vertical="true" type="tabs">
      <tab heading="Pickup Requests" ng-click="openPickupReq()">
        <!--show transaction history here-->
      </tab>
      <tab heading="Feedback Received" ng-click="" >
        <!-- show user ratings for him-->
      </tab>
      <tab heading="Account Settings" ng-click="" >
        <!-- get change password section here-->
      </tab>
    </tabset>
  </div>

</div>

