<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
    <i class="fa fa-bars"></i>
  </button>
  <a class="navbar-brand page-scroll" href="#page-top">
    <i class="fa fa-truck"></i>  <span class="light"> <b>GO !</b> Pickup </span>
  </a>
</div>
  <div class="section" id="signin" style="border: solid; border-width: 2px; border-color: #219ab3; margin-top: 200px;margin-bottom: 200px;">
    <table id="signinTable" style="margin-top: 30px;margin-bottom: 30px;">
      <tr class="signinrows">
        <td class="label"><span>Email</span></td>
        <td class="field"><input type="email" ng-model="userSignIn.emailId" ></td>
      </tr>
      <tr class="signinrows">
        <td class="label"><span>Password</span></td>
        <td class="field"><input type="password" ng-model="userSignIn.password"></td>
      </tr>
      <tr class="signinrows">
        <td class="tablebutton"><input type="button" value="Sign In" ng-click="signin()"></td>
      </tr>
      <tr class="signinrows">
        <td class="tableLinks">Forgot Password <a>Click here </a></td>
      </tr>
      <tr class="signinrows">
        <td class="tableLinks">New User<a ng-click="open()"> Click here </a></td>
      </tr>
    </table>
  </div>
<div>
<script type="text/ng-template" id="signUpModalContent.html">
  <div class="modal-header">
    <h3 id="modalTitle" class="modal-title"> Sign Up</h3>
  </div>
  <div class="modal-body">
    <div class="section" id="signup">
      <form>
        <table id="signupTable">
          <tr class="signuprows">
            <td class="label"><span>First Name</span></td>
            <td class="field"><input type="text" ng-model="user.firstName"></td>
          </tr>
          <tr class="signuprows">
            <td class="label"><span>Last Name</span></td>
            <td class="field"><input type="text" ng-model="user.lastName"></td>
          </tr>
          <tr class="signuprows">
            <td class="label"><span>Email</span></td>
            <td class="field"><input type="text" ng-model="user.emailId" ></td>
          </tr>
          <tr class="signuprows">
            <td class="label"><span>Password</span></td>
            <td class="field"><input type="password" ng-model="user.password"></td>
          </tr>
          <tr class="signuprows">
            <td class="label"><span>Phone Number</span></td>
            <td class="field"><input type="tel" ng-model="user.phoneNumber"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="modal-footer" id="signupModalFooter">
     <button class="btn btn-primary" value="Sign Up" ng-click="signup()" > Sign Up</button>
    <button class="btn btn-primary"  ng-click="cancel()"> Cancel </button>
  </div>
</script>
</div>
</div>
<!-- Footer -->
<footer class="footer">
  <div class="container text-center" style="color: #219ab3">
    <p>©2015 Deliver On The GO!</p>
  </div>
</footer>
