<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand page-scroll" href="#page-top">
      <i class="fa fa-truck"></i>  <span class="light"> <b>GO !</b> Pickup </span>
    </a>
  </div>
  <div class="section" id="sideTabs">
    <tabset id="menu" vertical="true" type="tabs">
      <tab heading="Search for a driver" ng-click="openSearch()">
        <div class="section" id="searchDriver">
          <form id="searchForm">
            <table>
              <tr>
                <td id="loc">
                  <input ng-model="locations.address1.formattedAddress" id="pick" type="text"   placeholder="Enter Pickup Location " ng-autocomplete details="locations.address1" >
                </td>
              </tr>
              <tr>
                <td id="loc">
                  <input ng-model="locations.address2.formattedAddress"  id="drop" type="text" placeholder="Enter Dropoff Location" ng-autocomplete details="locations.address2">
                </td>
              </tr>
              <tr>
                <td style="padding-bottom: 30px;">
                  <label>Length </label>
                  <input type="text" ng-model="dimensions.length" placeholder="Enter length">
                </td>
              </tr>
              <tr>
                <td  style="padding-bottom: 30px;">
                  <label>Breadth </label>
                  <input type="text" ng-model="dimensions.breadth" placeholder="Enter Breadth">
                </td>
              </tr>
              <tr>
                <td  style="padding-bottom: 30px;">
                  <label>Width </label>
                  <input type="text" ng-model="dimensions.width" placeholder="Enter Width">
                </td>
              </tr>
              <tr>
                <td>
                  <label>Pick Up Date</label>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.pickup" is-open="opened.pickup" min-date="minDate"  datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openPickup($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <label> Deliver Date</label>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.dropoff" is-open="opened.dropOff" min-date="minDate"  datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openDeliver($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <button id="" style="position: relative;left: 25%;color: #219ab3;" ng-click="sendRequest()"> GO ! Find a Driver</button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </tab>
      <tab heading="Account Settings" ng-click="" ></tab>
    </tabset>
  </div>
  <script type="text/ng-template" id="driverNotification.html">
    <div class="modal-header">
      <h3 id="modalTitle" class="modal-title"> Request Status</h3>
    </div>
    <div class="modal-body">
      <div class="section" id="message">
        <form>
          <p style="color:#219ab3;">
            {{message}}
          </p>
        </form>
      </div>
    </div>
    <div class="modal-footer" id="messageconfirm">
      <button class="btn btn-primary"  ng-click="okay()" > Okay</button>
    </div>
  </script>
</div>
